#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
}

form {
  display: inline-block;
  margin: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

button {
  margin-right: 10px;
}
/* Reset CSS to remove margins and paddings */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensures that these elements take full width */
  height: 100%; /* Helps in stretching elements to full height if necessary */
}

body {
  font-family: sans-serif; /* Example of setting a global font */
}
.App-content {
  padding-top: 60px; /* Adjust this value based on the actual height of your NavBar */
}

.App-header {
  display: flex; /* Aligns children (flex items) in a row */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  gap: 20px; /* Optional: adds space between children */
}